<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlowersShop"
        tools:targetApi="31">
        <activity
            android:name="Activity.manager_sales_analyst"
            android:exported="false" />
        <activity
            android:name="Activity.ManagerConfirmedOrdersActivity"
            android:exported="false" />
        <activity
            android:name="Activity.DialogUnconfirmedOrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name="Activity.CustomersItemsMainPageActivity"
            android:exported="false" />
        <activity
            android:name="Activity.ForGuestActivity"
            android:exported="false" />
        <activity
            android:name="Activity.ItemProductActivity"
            android:exported="false" />
        <activity
            android:name="Activity.ManagerAddItemActivity"
            android:exported="false" />
        <activity
            android:name="Activity.ManagerStartPageActivity"
            android:exported="false" />
        <activity
            android:name="Activity.ManagerEditItemActivity"
            android:exported="false" />
        <activity
            android:name="Activity.OrderingItemCActivity"
            android:exported="false" />
        <activity
            android:name="Activity.CustomersOrdersForSalesActivity"
            android:exported="false" />
        <activity
            android:name="Activity.CustomersOrdersActivity"
            android:exported="false" />
        <activity
            android:name="Activity.CustomersItemAddPageActivity"
            android:exported="false" />
        <activity
            android:name="Activity.ItemPageActivity"
            android:exported="false" />
        <activity
            android:name="Activity.ManagerUnconfirmedOrdersActivity"
            android:exported="false" />
        <activity
            android:name="Activity.ManagerOrders"
            android:exported="false" />
        <activity
            android:name="Activity.CustomerAccActivity"
            android:exported="false" />
        <activity
            android:name="Activity.MainPageActivity"
            android:exported="false" />
        <activity
            android:name="Activity.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name="Activity.CustomerEditItemActivity"
            android:exported="false" />
        <activity
            android:name="Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.firestore.FirestoreRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        </service>
    </application>

</manifest>