<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlowersShop"
        tools:targetApi="31">
        <activity
            android:name=".ManagerConfirmedOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".DialogUnconfirmedOrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".customers_items_main_page"
            android:exported="false" />
        <activity
            android:name=".for_guest"
            android:exported="false" />
        <activity
            android:name=".item_product"
            android:exported="false" />
        <activity
            android:name=".manager_add_item"
            android:exported="false" />
        <activity
            android:name=".manager_start_page"
            android:exported="false" />
        <activity
            android:name=".ActivityManagerEditItem"
            android:exported="false" />
        <activity
            android:name=".Ordering_item_c"
            android:exported="false" />
        <activity
            android:name=".CustomersOrdersForSalesActivity"
            android:exported="false" />
        <activity
            android:name=".CustomersOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".Customers_item_Add_page"
            android:exported="false" />
        <activity
            android:name=".Item_page"
            android:exported="false" />
        <activity
            android:name=".ManagerUnconfirmedOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".ManagerOrders"
            android:exported="false" />
        <activity
            android:name=".Customers_acc"
            android:exported="false" />
        <activity
            android:name=".main_page"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".customer_edit_item"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.firestore.FirestoreRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        </service>
    </application>

</manifest>